*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$onPostExecute$2.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$onPostExecute$2.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$Result.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$Result.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$start$1$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$start$1$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$start$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob$start$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapCroppingWorkerJob.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$onPostExecute$2.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$onPostExecute$2.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$Result.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$Result.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$start$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob$start$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapLoadingWorkerJob.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapUtils$BitmapSampled.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapUtils$BitmapSampled.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapUtils$RotateBitmapResult.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapUtils$RotateBitmapResult.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapUtils$WhenMappings.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapUtils$WhenMappings.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/BitmapUtils.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/BitmapUtils.dex
/cropper/build/intermediates/incremental/debug/packageDebugResources/stripped.dir/layout/crop_image_activity.xml
/cropper/build/intermediates/incremental/debug/packageDebugResources/stripped.dir/layout/crop_image_view.xml
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$Cancellation$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$Cancellation$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$Cancellation.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$Cancellation.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$FailedToDecodeImage$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$FailedToDecodeImage$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$FailedToDecodeImage.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$FailedToDecodeImage.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$FailedToLoadBitmap$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$FailedToLoadBitmap$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException$FailedToLoadBitmap.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException$FailedToLoadBitmap.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropException.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropException.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropFileProvider.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropFileProvider.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImage$ActivityResult$Companion$CREATOR$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImage$ActivityResult$Companion$CREATOR$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImage$ActivityResult$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImage$ActivityResult$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImage$ActivityResult.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImage$ActivityResult.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImage$CancelledResult.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImage$CancelledResult.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImage.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImage.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$onCreate$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$onCreate$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$onCreate$2.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$onCreate$2.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$showIntentChooser$ciIntentChooser$1.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$showIntentChooser$ciIntentChooser$1.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$Source.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$Source.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity$WhenMappings.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity$WhenMappings.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageActivity.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageActivity.dex
/cropper/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/CropImageActivityBinding.class.uniqueId1
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/databinding/CropImageActivityBinding.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/databinding/CropImageActivityBinding.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageAnimation.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageAnimation.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageContract.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageContract.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageContractOptions.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageContractOptions.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageIntentChooser$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageIntentChooser$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageIntentChooser$ResultCallback.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageIntentChooser$ResultCallback.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageIntentChooser.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageIntentChooser.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageOptions$Creator.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageOptions$Creator.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageOptions.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageOptions.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageOptionsKt.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageOptionsKt.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$CropCornerShape.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$CropCornerShape.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$CropResult.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$CropResult.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$CropShape.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$CropShape.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$Guidelines.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$Guidelines.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$OnCropImageCompleteListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$OnCropImageCompleteListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropOverlayMovedListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropOverlayMovedListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropOverlayReleasedListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropOverlayReleasedListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropWindowChangeListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$OnSetCropWindowChangeListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$OnSetImageUriCompleteListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$OnSetImageUriCompleteListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$RequestSizeOptions.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$RequestSizeOptions.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView$ScaleType.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView$ScaleType.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropImageView.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropImageView.dex
/cropper/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/CropImageViewBinding.class.uniqueId0
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/databinding/CropImageViewBinding.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/databinding/CropImageViewBinding.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropOverlayView$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropOverlayView$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropOverlayView$CropWindowChangeListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropOverlayView$CropWindowChangeListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropOverlayView$ScaleListener.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropOverlayView$ScaleListener.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropOverlayView$WhenMappings.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropOverlayView$WhenMappings.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropOverlayView.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropOverlayView.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowHandler$WhenMappings.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowHandler$WhenMappings.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowHandler.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowHandler.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$Companion.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$Companion.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$Type.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$Type.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$WhenMappings.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowMoveHandler$WhenMappings.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/CropWindowMoveHandler.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/CropWindowMoveHandler.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/desugar_graph.bin
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/desugar_graph.bin
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/utils/GetFilePathFromUriKt.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/utils/GetFilePathFromUriKt.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/utils/GetUriForFileKt.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/utils/GetUriForFileKt.dex
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/transformed/debug/com/canhub/cropper/ParcelableUtilsKt.dex
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/transformed/debug/com/canhub/cropper/ParcelableUtilsKt.dex
/cropper/build/.transforms/0cd2db49457c67a69d9e6e4ab1932b80/results.bin
/cropper/build/.transforms/5b2fb3e6c3260927157a8560d0f3b08f/results.bin
/cropper/build/.transforms/5f72958a9bf73603c795f589e4c1be25/results.bin
/cropper/build/.transforms/82581bc37319c6a5eb82c1501cc38fab/results.bin
/cropper/build/.transforms/9953004ae80662492e6df3c53b064fe7/results.bin
/cropper/build/.transforms/a11a5a27ced7f4aa7f78600e9bccc469/results.bin
/cropper/build/.transforms/ae77eb0d920b39981ca75fa77ed7d28b/results.bin
/cropper/build/.transforms/c4e48dadfe77dbb7a89f29c4b25f131a/results.bin
/cropper/build/.transforms/c7e448131bad6be54ff4a5d72a6dd9b0/results.bin
/cropper/build/.transforms/df8522b903ec30004a0a45992a21a70c/results.bin
/cropper/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
